

body {
background-image:url('../images/bgimg2.jpg');
background-repeat: no-repeat;
background-size: cover;
background-position: top center;
}

#elfentrail {
	width:300px;
	height:100px;
}

#textPanel {
	border-style: solid;
    border-width: 2px;
	position: absolute;
	width:90%;
	height: 30%;
	left: 5%;
	top: 22%;
	margin: 0 auto;
	background-color: #ffffff;
	overflow:hidden;
}

#textBox {
	font-size: 16px;
	text-align: center;
	word-wrap: break-word;
	font-family: Arial;
}

#fadeout {
	position: fixed;
	height: 12%;
	width: 90%;
	background: -webkit-linear-gradient(180deg,rgba(255,255,255,0),rgba(255,255,255,1)); /*Safari 5.1-6*/
	background: -o-linear-gradient(180deg,rgba(255,255,255,0),rgba(255,255,255,1)); /*Opera 11.1-12*/
	background: -moz-linear-gradient(180deg,rgba(255,255,255,0),rgba(255,255,255,1)); /*Fx 3.6-15*/
	background: linear-gradient(180deg, rgba(255,255,255,0), rgba(255,255,255,1)); /*Standard*/
	z-index: 100;
	top: calc(40% + 3px);
}

.paneltitle {
	font-size: 18px;
	font-family: 'Press Start 2P', cursive;
	text-decoration: underline;
}


.shop_item {
	overflow: hidden;
	margin-top: 50px;
	text-align: center;
	display: inline-block;
	width: 125px;
	height: 125px;
	background-color: #FFF5EB;
	border-style: solid;
	border-width: 2px;
	border-color: #807A76;
	cursor: pointer;
	vertical-align: bottom;
}

.shop_item:hover {
	background-color: #E6DCD4;
}

.resource_display {
	text-align: center;
}
.tabcontents {
	top: 58%;
}




#elven_shrine {
	border-style: solid;
    border-width: 2px;
	background-color: #ffffff;
	padding-top: 5%;
	position: absolute;
	left: 31%;
	height: 42%;
	width: 90%;
	min-height: 250px;
	min-width: 125px;
}

#save {
	display: block;
	margin: auto;
}


#elfqueen:hover {
	background-color: #E6DCD4;
}
#blessing_amount {
	margin: auto;
	width: 6em;
}

	