@font-face {
    font-family: 'Press Start 2P';
    src: url('fonts/PressStart2P-Regular.ttf');
    src: local('☺'), url('fonts/PressStart2P-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
	margin: 0;
	background-image:url('../images/1stbg.jpg');
	background-size: cover;
	overflow: hidden;
}

#wrapper {
	max-height:100vh;
	max-width:100vw;
}

#stats {
	width: 100vw;
	background-color: black;
	height: 50px;
	position: relative;
	margin-bottom: 20px;
	color: white;
	line-height: 30px;
			font-family: 'Press Start 2P', cursive;
		font-size: 12px;
}

#hp {
	margin-top: 10px;
	margin-right: 20px;
	float: right;
	width: 150px;

}

#gold_amount {
	color: yellow;
}

progress {
	-webkit-appearance: progress-bar;
	box-sizing: border-box;
	display: inline-block;
	border-style: solid;
	border-width: 3px;
	border-radius: 10px;
	border-color: white;
	background-color: #aa0000;
}
progress[value]{
	-webkit-appearance: none;
	appearance: none;
	width: 100px;
	height: 20px;
	border-radius: 10px;
}


progress[value]::-moz-progress-bar {
	background-color:  #ff8566;
	border-radius: 2px; 	
	border-radius: 10px;
	background-image:
	-moz-linear-gradient(45deg, 
	                           transparent 33%, rgba(0, 0, 0, .1) 33%, 
	                           rgba(0,0, 0, .1) 66%, transparent 66%),
	   -moz-linear-gradient(top, 
	                           rgba(255, 255, 255, .25), 
	                           rgba(0, 0, 0, .25)),
	   -moz-linear-gradient(left,   #4dff4d, #00aa00);

}

progress[value]::-moz-progress-value {
	border-radius: 10px;
	background-image:
	   -webkit-linear-gradient(-45deg, 
	                           transparent 33%, rgba(0, 0, 0, .1) 33%, 
	                           rgba(0,0, 0, .1) 66%, transparent 66%),
	   -webkit-linear-gradient(top, 
	                           rgba(255, 255, 255, .25), 
	                           rgba(0, 0, 0, .25)),
	   -webkit-linear-gradient(left,  #99ffbb, #00e600);
}

progress[value]::-webkit-progress-bar {
	background-color:  #ff8566;
	border-radius: 2px;
	border-radius: 10px;
	background-image:
	-webkit-linear-gradient(45deg, 
	                           transparent 33%, rgba(0, 0, 0, .1) 33%, 
	                           rgba(0,0, 0, .1) 66%, transparent 66%),
	   -webkit-linear-gradient(top, 
	                           rgba(255, 255, 255, .25), 
	                           rgba(0, 0, 0, .25)),
	   -webkit-linear-gradient(left,   #4dff4d, #00aa00);

}

progress[value]::-webkit-progress-value {
	border-radius: 10px;
	background-image:
	   -webkit-linear-gradient(-45deg, 
	                           transparent 33%, rgba(0, 0, 0, .1) 33%, 
	                           rgba(0,0, 0, .1) 66%, transparent 66%),
	   -webkit-linear-gradient(top, 
	                           rgba(255, 255, 255, .25), 
	                           rgba(0, 0, 0, .25)),
	   -webkit-linear-gradient(left,  #99ffbb, #00e600);
}

#gold {
	margin-top: 10px;
	margin-left: 20px;
	width: 150px;
	float: left;

}



#clear {
	clear: both;
}

#storybox {
	display: inline-block;
	margin: 0 auto;
	position: relative;
	width: 90vw;
	height: calc(50vh - 165px);
	overflow: hidden;
	border-style: solid;
	border-width: 3px;
	border-color: black;
	margin-left: 4vw;
}

#textbox {
	margin: 0 auto;
	position: absolute;
	display: inline-block;
	height: calc(50vh - 165px);
	min-height: 300px;
	width: 90vw;
	background-color: white;
	font-family: 'Press Start 2P', cursive;
	overflow: auto;
	font-size: 12px;
	padding: 5px;
}

#fade {
	height: 5vh;
	width: 100%;
	position: absolute;
	bottom: 0;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f7f7f7+58,d6d6d6+99&0+0,1+100 */
	background: -moz-linear-gradient(top, rgba(247,247,247,0) 0%, rgba(247,247,247,0.58) 30%, rgba(214,214,214,0.99) 99%, rgba(214,214,214,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(247,247,247,0) 0%,rgba(247,247,247,0.58) 30%,rgba(214,214,214,0.99) 99%,rgba(214,214,214,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(247,247,247,0) 0%,rgba(247,247,247,0.58) 30%,rgba(214,214,214,0.99) 99%,rgba(214,214,214,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00f7f7f7', endColorstr='#d6d6d6',GradientType=0 ); 
}

#text-title {
	position: relative;
	display: block;
	margin: 0 auto;
	width: 150px;
}

.redtext{
	color: red;
}

.greentext {
	color: green;
}

.purpletext {
	color: purple;
	text-decoration: underline;
}

/*------------------------menu------------------------*/

#pagewrapper {
	position:relative;
	width: 100vw;
	height: 60vh;

}

ul {
	padding: 0;
}

	.menuitem{
		display: inline-block;
		position: relative;
		width: 24vw;
		list-style-type: none;
		display: inline-block;
		margin: 0 auto;
		cursor: pointer;
		min-height: 75px;

	}


	.menuitem .tab-bg{
		position: absolute;
		max-width: 24vw;
		z-index: -10;
		min-height: 75px;
	}

	.tab-txt{
		width: 24vw;
		position: absolute;
		left: 2px;
		font-family: 'Press Start 2P', cursive;
		font-size: 8px;
		text-align: center;	}

/*------------------------PAGES------------------------*/

/*--menu and bag--*/

.inventory{
	font-family: 'Press Start 2P', cursive;
	font-size: 16px;
	height: auto;
	margin-bottom: 10px;
}	

.list-cont {
		width: 90vw;
		display: inline-block;
	}

@media (min-width: 767px){
.bag-item, .shop-item {
	display: inline-block;
	width: 45vw;
	min-height: 100px;
	background-image: url('../images/item-bg.png');
	background-size: cover;
	}


}

@media (max-width: 768px){
	.bag-item, .shop-item{
	display: inline-block;
	width: 90vw;
	min-height: 100px;
	background-image: url('../images/item-bg-large.png');
	background-size: cover;
	}
}

.bag-img, .shop-img {
	max-height: 75px;
	float: left;
	padding-left: 10px;
	padding-top: 10px;
}

.bag-title, .shop-title {
	font-family: 'Press Start 2P', cursive;
	color: white;
	font-size: 16px;
	float: left;
	padding-top: 25px;
	padding-left: 5px;
}

.bag-desc, .shop-desc {
	font-family: 'Press Start 2P', cursive;
	float: left;
	font-size: 12px;
	color: white;
	left: 120px;
	width: 60%;
}

.shop-button{
	float; right;
	margin-top: 75px;
	margin-left: 20px;
}

/*--actions--*/



.panel:hover {
	-webkit-box-shadow: inset 0px -3px 5px 8px rgba(204,204,204,1);
	-moz-box-shadow: inset 0px -3px 5px 8px rgba(204,204,204,1);
	box-shadow: inset 0px -3px 5px 8px rgba(204,204,204,1);
}

 .panel:active {
	-webkit-box-shadow: inset 0px 3px 5px 8px rgba(0,0,0,0.75);
	-moz-box-shadow: inset 0px 3px 5px 8px rgba(0,0,0,0.75);
	box-shadow: inset 0px 3px 5px 8px rgba(0,0,0,0.75);
}

@media screen and (orientation:portrait) { 
.panel-img{
	display: inline-block;
	margin: 0 auto;
	height: 15vw;
	width: 15vw;
	padding-top: 10px;
	max-width: 150px;
	display: block;

}

.panel {
	vertical-align: top;
	cursor: pointer;
	background-color: grey;
	border: solid;
	border-color: black;
	border-width: 3px;
	font-size: 16px;
	border-radius: 20px;
	height: 25vw;
	width: 25vw;
	max-height: 300px;
	max-width: 300px;
	min-height: 125px;
	min-width: 125px;
	display: inline-block;
	text-align: : center;
	margin-bottom: 5px;
}

.tab-txt{
	padding-top: 35px;

}

 }
 @media screen and (orientation:landscape) {
 	#panel-cont br{
 		display: none;
 	}

 	.page{
 		margin-top: 50px;
 	}

 	.tab-txt{
 		padding-top: 35px;
 	}

 	.panel {
	vertical-align: top;
	cursor: pointer;
	background-color: grey;
	border: solid;
	border-color: black;
	border-width: 3px;
	font-size: 12px;
	border-radius: 20px;
	height: 20vw;
	width: 20vw;
	max-height: 300px;
	max-width: 300px;
	min-height: 125px;
	min-width: 125px;
	display: inline-block;
	text-align: : center;
	margin-bottom: 5px;
}

.panel-img{
	display: inline-block;
	margin: 0 auto;
	height: 10vw;
	width: 10vw;
	padding-top: 10px;
	max-width: 150px;
	display: block;

}
.list-title{
	margin-top: 50px;
}
 }


.panel-txt{
	display: inline-block;
	vertical-align: top;
	font-family: 'Press Start 2P', cursive;
	font-size: 16px;

}