*: {
    outline: 0;
}

/* landscape and portrait media queries, no landscape option for the prototype */
@media screen and (orientation:portrait) {
	#landscapeblock {display:none}
}

@media screen and (orientation:landscape) {
	#landscapeblock{
	background-image:url('../images/landscapeblock.jpg');
	display:normal;
	z-index: 100;
	height: 100%;
	width: 100%;
	}
}

body {
background-image:url('../images/bgimg2.jpg');
background-repeat: no-repeat;
background-size: cover;
background-position: top center;
}

#elfentrail {
	width:300px;
	height:100px;
}

#textPanel {
	border-style: solid;
    border-width: 2px;
	position: absolute;
	width:90%;
	height: 30%;
	left: 5%;
	top: 22%;
	margin: 0 auto;
	background-color: #ffffff;
	overflow:hidden;
}

#textBox {
	font-size: 11px;
	text-align: center;
	word-wrap: break-word;
	font-family: Arial;
}

#fadeout {
	position: fixed;
	height: 12%;
	width: 90%;
	background: -webkit-linear-gradient(180deg,rgba(255,255,255,0),rgba(255,255,255,1)); /*Safari 5.1-6*/
	background: -o-linear-gradient(180deg,rgba(255,255,255,0),rgba(255,255,255,1)); /*Opera 11.1-12*/
	background: -moz-linear-gradient(180deg,rgba(255,255,255,0),rgba(255,255,255,1)); /*Fx 3.6-15*/
	background: linear-gradient(180deg, rgba(255,255,255,0), rgba(255,255,255,1)); /*Standard*/
	z-index: 100;
	top: calc(40% + 3px);
}

.paneltitle {
	font-size: 12px;
	font-family: 'Press Start 2P', cursive;
	text-decoration: underline;
	padding-bottom: 15px;
}


.shop_item {
	overflow: hidden;
	margin-top: 20px;
	text-align: center;
	display: inline-block;
	width: 75px;
	height: 75px;
	background-color: #FFF5EB;
	border-style: solid;
	border-width: 2px;
	border-color: #807A76;
	cursor: pointer;
	vertical-align: bottom;
	font-family: arial;
	font-size: 11px;
}

#actionscont {
	margin-left: 15px;
	float: left;
	max-width: 160px;
	display: inline;
}

#resourcecont {
	display: inline;
	margin-right: 15px;
	float: right;
	max-width: 160px;
}

.actionbutton {
	overflow: hidden;
	margin-top: 20px;
	text-align: center;
	display: inline-block;
	width: 75px;
	height: 90px;
	background-color: #FFF5EB;
	border-style: solid;
	border-width: 2px;
	border-color: #807A76;
	cursor: pointer;
	vertical-align: bottom;
	font-family: arial;
	font-size: 11px;
}

.shop_item:hover {
	background-color: #E6DCD4;
}

.resource_display {
	text-align: center;
}
.tabcontents {
	top: 58%;
}




#elven_shrine {
	border-style: solid;
    border-width: 2px;
	background-color: #ffffff;
	padding-top: 5%;
	position: absolute;
	left: 31%;
	height: 42%;
	width: 90%;
	min-height: 250px;
	min-width: 125px;
}

#save {
	display: block;
	margin: auto;
}


#elfqueen:hover {
	background-color: #E6DCD4;
}
#blessing_amount {
	margin: auto;
	width: 6em;
}

/*///////////////////////////////////////////////  MENU PAGE  //////////////////////////////////////////////////////////*/

#description {
	position: absolute;
	top: 22%;
	left:50%;
	-ms-transform:translateX(-50%);
	-webkit-transform:translateX(-50%);
	transform:translateX(-50%);
	height: 100px;
	width:	275px;
	}
	
#menucontainer {
	position: absolute;
	height: 60%;
	width: 100%;
	top: 35%;
	text-align: center;
	left: 50%;
}

#menutitle {
	display: block;
	height: 100px;
	width:	275px;
	-ms-transform:translateX(-50%);
	-webkit-transform:translateX(-50%);
	transform:translateX(-50%);
}

.menuitem {
	display: block;
	height: 100px;
	width:	275px;
	-ms-transform:translateX(-50%);
	-webkit-transform:translateX(-50%);
	transform:translateX(-50%);
	cursor: pointer;
}
	
	