/*////////////////////////////////////////////////////// GAME PAGE //////////////////////////////////////////////////////////////////*/

body {
background-image:url('../images/bgimg2.jpg');
background-repeat: no-repeat;
background-size: cover;
background-position: top center;
}

/*////////////// STORY BOX*/
#textPanel {
	border-style: solid;
    border-width: 2px;
	position: absolute;
	width:90%;
	height: 30%;
	left: 5%;
	top: 22%;
	margin: 0 auto;
	background-color: #ffffff;
	overflow:hidden;
}

#textBox {
	font-size: 11px;
	text-align: center;
	word-wrap: break-word;
	font-family: Arial;
}
/*This creates a white-to-transparent div above all other elements over the storybox so the text appears to fade out*/
#fadeout {
	position: fixed;
	height: 12%;
	width: 90%;
	background: -webkit-linear-gradient(180deg,rgba(255,255,255,0),rgba(255,255,255,1)); /*Safari 5.1-6*/
	background: -o-linear-gradient(180deg,rgba(255,255,255,0),rgba(255,255,255,1)); /*Opera 11.1-12*/
	background: -moz-linear-gradient(180deg,rgba(255,255,255,0),rgba(255,255,255,1)); /*Fx 3.6-15*/
	background: linear-gradient(180deg, rgba(255,255,255,0), rgba(255,255,255,1)); /*Standard*/
	z-index: 100;
	top: calc(40% + 3px);
}
/*title of each of the tab panels*/
.paneltitle {
	font-size: 12px;
	font-family: 'Press Start 2P', cursive;
	text-decoration: underline;
	padding-bottom: 15px;
	text-align: center;
}

/* formatting for the shop item buttons */
.shop_item {
	overflow: hidden;
	margin-top: 20px;
	text-align: center;
	display: inline-block;
	width: 100px;
	height: 125px;
	background-color: #FFF5EB;
	border-style: solid;
	border-width: 2px;
	border-color: #807A76;
	cursor: pointer;
	vertical-align: bottom;
	font-family: arial;
	font-size: 11px;
}
/* custom effect on hover */
.shop_item:hover {
	background-color: #E6DCD4;
}

.resource_display {
	text-align: center;
}
.tabcontents {
	top: 58%;
}

#actionscont {
	margin-left: 15px;
	float: left;
	max-width: 160px;
	display: inline;
}
/*container for the resource list on the actions pane*/
#resourcecont {
	display: inline;
	margin-right: 15px;
	float: right;
	max-width: 160px;
}
/*formatting for the action buttons*/
.actionbutton {
	overflow: hidden;
	margin-top: 20px;
	text-align: center;
	display: inline-block;
	width: 75px;
	height: 90px;
	background-color: #FFF5EB;
	border-style: solid;
	border-width: 2px;
	border-color: #807A76;
	cursor: pointer;
	vertical-align: bottom;
	font-family: arial;
	font-size: 11px;
}


#save {
	display: block;
	margin: auto;
}



#blessing_amount {
	margin: auto;
	width: 6em;
}

/*///////////////////////////////////////////////  MENU PAGE  //////////////////////////////////////////////////////////*/

#description {
	position: absolute;
	top: 22%;
	left:50%;
	-ms-transform:translateX(-50%);
	-webkit-transform:translateX(-50%);
	transform:translateX(-50%);
	height: 100px;
	width:	275px;
	}
	
#menucontainer {
	position: absolute;
	height: 60%;
	width: 100%;
	top: 35%;
	text-align: center;
	left: 50%;
}
/* positioning the menucontainer 50% left then translating every item -50% along the x axis with a class rule centers everything on the menu as there was something preventing them centering any other way*/
#menutitle {
	display: block;
	height: 100px;
	width:	275px;
	-ms-transform:translateX(-50%);
	-webkit-transform:translateX(-50%);
	transform:translateX(-50%);
}

.menuitem {
	display: block;
	height: 100px;
	width:	275px;
	-ms-transform:translateX(-50%);
	-webkit-transform:translateX(-50%);
	transform:translateX(-50%);
	cursor: pointer;
}
	
/*INSTRUCTIONS PAGE /////////////////////////////////////////////////////////////////////////////*/
#instructionscont {
	position: absolute;
	top: 35%;
	left: 7.5%;
	width: 80%;
	height: 40%;
	padding: 5px;
	border-style: solid;
    border-width: 2px;
	background-color: #ffffff;
	}
	
#instructionscont p {
	float: left;
	display: block;
	height: 100px;
	width: 200px;
	font-size: 12px;
	font-family: Arial;
	margin-left: 7%;
	}

#instructionscont img{
	margin-left: 10%;
	vertical-align: top;
	width: 35%;
	}
	
#instructionstitle{
	margin-top: 30%;
	height: 100px;
	width:	275px;
	margin-left: 50%;
	-ms-transform:translateX(-50%);
	-webkit-transform:translateX(-50%);
	transform:translateX(-50%);
	}

#tabs {
	width: 200px;
	height: 20px;
	}