/* Tab Content - menucool.com */
ul.tabs
{
	position: absolute;
	top: calc(53%);
    padding: 14px 0 30px;
    margin:2px;
    font-size: 0;
    list-style-type: none;
    text-align: center; /*set to left, center, or right to align the tabs as desired*/
    background: #ffccff;
    border:1px solid #CCC;
    border-bottom:none;
    border-radius: 2px 2px 0 0;
	width: 90%;
	left: 5%;
}
        
ul.tabs li
{
    display: inline;
	vertical-align: bottom;
    margin: 0;
    margin-right: 2px;/*distance between tabs*/
    font: normal 12px Verdana;
}
        
ul.tabs li a
{
    text-decoration: none;
    position: relative;
    padding: 8px 10px;
    color: #000;
    border-radius: 3px 3px 0 0;
    outline:none;
}
  
        
ul.tabs li a:hover
{
    text-decoration: underline;
    color: #000;
}
        
ul.tabs li.selected a
{
    position: relative;
    top: 0px;
    font-weight:bold;
    background: #FFF;
    border: 1px solid #AAA;
    border-bottom: 1px solid #FFF;
    color: #000;
}
        
        
ul.tabs li.selected a:hover, ul.tabs li.selected a:hover
{
    text-decoration: none;
}

div.tabcontents
{
	text-align: center;
	position: absolute;
    border: 1px solid #CCC; 
	left: 5%;
	padding-top: 20px;
	width: 90vw;
	height: 35%;
    border-top-color:#ffccff;
    background-color:#FFF;
    border-radius: 2px;

}
